*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* stilizzazione header */
.flex{
    display: flex;
}

header {
    justify-content: flex-end;
    position: fixed;
    z-index:1;
    top: 0;
    left: 0;
    width: 100%;
}
.header{
    background-color: rgba(8,11,18, 0.5);
    height: 80px;
    width: calc(100vw - 200px);
    justify-content: flex-end;
    align-items: center;
}

form{
    margin-right: 20px;
    border:2px solid white ;
    border-radius: 20px;
}

.btn-header:hover{
    width: 200px;
    height: 35px;
}

.btn-header{
    color: white;
    font-weight: 600;
    font-size: 14px;
    border: none;
    background-color: transparent;
    padding: 7px 20px;
    cursor: pointer;
}

/* creazione aside */

aside{
    justify-content: space-between;
    flex-direction: column;
    width: 200px;
    color: #6e6e6e;
    height: calc(100vh - 80px);
    background-color: rgba(0,0,0,255);
}

.row-aside1{
    flex-direction: column;
    height: calc(100vh - 180px);
}

.logo-small{
    display: none;
}

.logo, .playlist, .footer-aside{
    width: 85%;
    margin: 0 auto;
}

.logo img{
    width: 70%;
    margin-top: 25px;
}

.menu-aside img{
    width: 30px;
    height: 25px;
    margin-bottom: -5px;
}

.menu-aside li{
    padding: 10px;
    font-weight: 600;
    font-size: 13px;
}

.menu-aside li:hover{
    color: white;
    border-left: 4px solid #adff2f;
}

.contenitore-lista li:hover{
    color: white;
}

.crea-playlist{
    display: inline-block;
    background-color: #6e6e6e;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}

.contenitore-add{
    margin: 10px 0;
}

.contenitore-add span{
    font-weight: 600;
    font-size: 15px;
}

.playlist i{ 
    color: black; 
    padding-top: 5px;

}

.playlist h5{
    color: white;
    padding: 10px 0 0;
}

.playlist ul{
    list-style-type: none;
}

.playlist li{
    font-size: 13px;
    padding: 7px 0;
    font-weight: 600;
}

.playlist{
    overflow-y: auto;
}

.contenitore-download img{
    width: 20px;
    margin-bottom: -5px;
}

.contenitore-download span{
    font-weight: 600;
    font-size: 13px;
    color: #6e6e6e;
}

.contenitore-download{
    border-bottom: 1px solid #6e6e6e;
    padding-bottom: 5px;
}

.contenitore-profile{
    width: 30px;
    height: 30px;
    background-color: #6e6e6e;
    overflow: hidden;
    display: flex;
    border-radius: 20px;
    margin: 5px;
}

.nome{
    align-items: center;
}

.footer-aside:last-child{
    color: white;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
}

.footer-aside{
    vertical-align: middle;
}

.row-aside2{
    width: 200px;
    height: auto;
    position: fixed;
    z-index: 1;
    bottom: 80px;
    left: 0;
    background-color:rgba(0,0,0,255) ;
}

/* creazione main */
.wrapper{
    width: 100vw;
    height: calc(100vh - 80px);
}

main{
    width: calc(100vw - 200px);
    height: calc(100vh - 80px);
    overflow-y: auto;
    background-color: rgba(20,25,34,255);
}

.contents{
    width: 95%;
    margin: 0 auto;
}

.row-navbar{
    margin: 95px auto 10px;
    width: 65%;
}

.col-navbar{
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    color: rgba(122,125,129,255);
    list-style-type: none;
}

.col-navbar li{
    width: 15%;
    font-size: 14px;
    font-weight: 600;
}

.bordo{
    width: 30%;
    background-color: #adff2f;
    height: 3px;
    margin: 0 auto;
    display: none;
}

.col-navbar li:hover .bordo{
    display: block;
}

.contenitore-immagini{
    position: relative;
}

.contenitore-immagini img{
    width: 100%;
}

.contenitore-immagini i{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: calc(100% / 3 );
    background-color:rgba(0,0,0,0.5);
    font-size: 50px;
    display: none;
    
}

.contenitore-immagini:hover i{
    display: block;
}

.contenitore-tracks .row{
    justify-content: space-between;
    flex-wrap: wrap;
}

.col{
    text-align: center;
    width: 15%;
    margin: 5px;
}

.col h4{
    font-size: 15px;
    padding: 10px;
}

.sottotitolo{
    color: rgba(119,121,126,255);
    font-size: 13px;
    margin-bottom: 20px;
}

.contents h2{
    margin: 30px 0 20px;
}

.hidden img{
    border-radius: 50%;
    overflow: hidden;
}


/* creazione footer */

footer{
    width: 100vw;
    height: 80px;
    background-color: rgba(40,40,40,255);
    position: fixed;
    z-index: 1;
}